  <nav *ngIf="mostrarMenu">
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/cursos" routerLinkActive="active" [queryParams]="{pagina:1}">Cursos</a></li>
        <!--<li><a [routerLink]="['/cursos', cursoId.value]" routerLinkActive="active">Cursos com ID</a></li>-->
        <li><a routerLink="/alunos" routerLinkActive="active">Alunos</a></li>


      </ul>
    </div>
  </nav>
      <div class="container">
      <!--
      <p>Entre com o ID do Curso</p>
      <input type="text" #cursoId>
      -->
<router-outlet></router-outlet>
</div>